<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver </property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hw_13</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">WRITE_YOUR_PASSWORD_HERE</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessionContext</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <mapping class="ua.com.alevel.persistence.entity.Course"/>
        <mapping class="ua.com.alevel.persistence.entity.Student"/>
    </session-factory>
</hibernate-configuration>